@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔥 Circle Loader (inside Heart button) */
.circle-loader {
    width: 20px;
    height: 20px;
    border: 3px solid #f97316;
    /* Tailwind orange-500 */
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}